/*==========================PROJECT======================*/
.vnt-project {
	padding-top: 0
}
.project .img {
	display: block;
	position: relative;
    overflow: hidden;
    padding-top: 54%;
}
.project .img .effectImg {
    position: static
}
.project .img img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.project .caption {    
    position: relative;    
}
.project .in {
    width: 460px;
    padding: 50px 35px;    
    color: #FFFFFF;
    position: relative;
    z-index: 1;
}
.project .bg-overlay {    
    width: 460px;
    z-index: 1;
}
.project .caption .tend {
    font-size: 18px;
    line-height: 30px;
    font-weight: 600;
    font-style: italic;
}
.project .caption .des {
    font-size: 14px;
    margin: 30px 0 25px;
    -webkit-line-clamp: 3;
    max-height: 84px;
}
.project .button-w {
    background-color: transparent;
}
.project .caption .link .button-w {
    border: none;
    padding: 5px 0;
    min-width: inherit;
}
.project .link .button-w::before, .project .link .button-w::after {
    display: none;
}
.project .caption .tend a, .project .caption .link .button-w, .project .caption .link .button-w span:after {
    color: #FFFFFF
}
.project .caption .link .button-w:hover {
    padding: 5px 20px;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}
.proj-list .project {
	margin-bottom: 60px
}
.proj-list .item:nth-child(2n+1) .ani-img::before {
    left: auto;
    right: 0;
}
/*----------OTHER PROJECT-------------*/
.otherItems .proj {
	margin-top: 20px;
    border: 1px solid #ebebeb;
}
.otherItems .proj .img {
	padding-top: 66%
}
.otherItems .proj .caption {
	padding: 20px 25px
}
.otherItems .proj .tend {
	font-size: 16px;
	line-height: 28px;
	font-weight: 600;
	margin-bottom: 10px;
}
.otherItems .proj .tend a {
    -webkit-line-clamp: 1;
    height: 28px;
}
.otherItems .proj .link .txt {
	color: #00a1e9;
}
.otherItems .proj .link .txt:hover, .link .txt:hover span:before {
	color: #181818;
}
.otherItems .sl-gen .slick-arrow {    
    top: 35%;
}
/*================================================================*/
/*=========================RESPONSIVE=============================*/
/*================================================================*/
@media all and (min-width: 992px) {
	.vnt-project .pagination {
	    padding-top: 0;
	}
}
@media all and (min-width: 768px) {		
	.project {
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        align-items: flex-end;
    }
    .project .imgWrap {
        width: calc(100% - 300px);
    }
    .project .caption {
        width: 300px;
        flex-shrink: 0;
        margin-bottom: 70px;
    }
    .proj-list .item:nth-child(2n) .project {
		flex-direction: row-reverse;
	}
	.proj-list .item:nth-child(2n+1) .project .bg-overlay {
		left: -160px
	}
	.proj-list .item:nth-child(2n+1) .project .in {
		left: -160px
	}
}
@media all and (max-width: 991px) {
	.vnt-project .pagination {
	    padding-top: 10px;
	}	
	.project .in {
        padding: 20px;
    }    
    .project .caption .des {
        margin: 15px 0;
    }
    .proj-list .project {
	    margin-bottom: 30px;
	} 	
	.otherItems .proj .tend a {
	    -webkit-line-clamp: 2;
	    height: 56px;
	}
}
@media all and (max-width: 767px){		
	.project .in {
        width: 100%;        
        background-color: rgba(0,123,199,1);
    }
    .project .bg-overlay {
        width: 100%
    }        
}
@media all and (max-width: 480px){	
	.proj-list .project .caption .des {
    	display: none;
    }
}
@media all and (max-width: 321px){
	
}
@media all and (min-width: 992px) and (max-width: 1100px) {	
	.project {
		align-items: center;
	}
	.project .caption {
	    margin-bottom: 0;
	}
}